@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <section>
        <h2>about Me</h2>
        <p>Hi! I'm Svetlozara, and I love movies. Welcome to my Movie App!</p>
    </section>

    <section class="gallery">
        <h2>My Top 4 Movies</h2>
        <div class="gallery-grid">
            <img src="images/movie1.jpg" alt="Dead Poets Society">
            <img src="images/movie2.jpg" alt="La La Land">
            <img src="images/movie3.jpg" alt="The Wind Rises">
            <img src="images/movie4.jpg" alt="The Grand Budapest Hotel">
        </div>
    </section>

</div>
