@{
    ViewData["Title"] = "End credits";
}
<h1>@ViewData["Title"]</h1>


<section>
    
    <p>I have nothing more to add</p>

    <img src="~/images/absolutecinema.jpg" alt="Credits Image" style="width: 100%; max-width: 800px; margin: 20px auto; display: block; border: 3px solid #FFD700; border-radius: 10px;">

    <p>
        Shout out to Microsoft ASP.NET Core MVC:
        <a href="https://learn.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/start-mvc?view=aspnetcore-9.0&tabs=visual-studio" target="_blank">Get started with ASP.NET Core MVC</a>.
    </p>
</section>