
body {
    background: linear-gradient(to right, #36454F, #71797E, #708090);
    background-size: cover;
    color: #f8f9fa; 
    font-family: 'Cinzel', serif; 
}

h1, h2, h3, h4, h5 {
    color: #ffcc00;
}

.table {
    background-color: rgba(229, 228, 226);
    color: whitesmoke;
}


/* navbar */
.navbar {
    background-color: #343a40 !important; /* dark navbar */
    border-bottom: 6px solid #ffc107; /* gold border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.navbar-brand {
    font-size: 1.8rem;
    font-family: 'Cinzel Decorative', cursive; 
    color: #ffc107 !important; /* gold */
}

.navbar-nav .nav-link {
    color: #f8f9fa !important; /* white text for links */
    font-weight: bold;
}

    .navbar-nav .nav-link:hover {
        color: #ffc107 !important; /* gold hover effect */
    }

/* Movie table */
.table {
    background: rgba(0, 0, 0, 0.8); 
    border: 1px solid #ffc107; /* gold border */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6); /* shadow */
}

    .table th, .table td {
        color: #404040; /* text */
        padding: 10px;
    }

    .table th {
        border-bottom: 3px solid #ffc107; /* gold divider for header */
    }

    /* links in the table */
    .table a {
        color: #ffc107; /* gold links */
        text-decoration: none;
        font-weight: bold;
    }

        .table a:hover {
            color: #f8f9fa; /* light hover */
        }

/* footer */
footer {
    background-color: #343a40;
    color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9rem;
    border-top: 5px solid #ffc107;
}

